## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.DS_Store
/.build
/Packages
/*.xcodeproj
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

